$base: #EFF1F5;
$text: #494646;
$subtext: #75767E;
$bright: #773ae8; //old #6665FF
$faded: #7d3df5;
$mint: #34D1C2; // old #64FAB3
$blush: #DA2C63;
body {
  background-color: $base;
  color: $text;
}
